/** CITY PAGE STYLES **/
.nash-row {
  display: flex;
  justify-content: center;
}

.nash-img {
  margin: $gutter;
}

.first-one-third-div {
  position: relative;
  width: 20rem;
  height: 20rem;
  background-image: url('img/IMG_5598.JPG');
  background-size: cover;
  overflow: hidden;
}

.second-one-third-div {
  position: relative;
  width: 20rem;
  height: 20rem;
  background-image: url('img/IMG_5599.JPG');
  background-size: cover;
  overflow: hidden;
}

.first-two-thirds-div {
  position: relative;
  flex-grow: 1;
  width: auto;
  height: 20rem;
  background-image: url('img/IMG_5597.JPG');
  background-size: cover;
  overflow: hidden;
}

.second-two-thirds-div {
  position: relative;
  flex-grow: 1;
  width: auto;
  height: 20rem;
  background-image: url('img/IMG_5596.JPG');
  background-size: cover;
  overflow: hidden;
}

.invisible-par {
  display: none;
  background: #808080;
  color: $project-white;
  font-size: 2rem;
  font-weight: bold;
}

.nash-img:hover .invisible-par {
  display: block;
  padding: $gutter;
}

.img-link {
  padding: 0;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
