$gutter: 1rem;
$project-black: #000;
$project-white: #fff;
$project-blue: #4B6DAA;

@import 'yoga';
@import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';


.page {
  display: flex;
  flex-direction: column;
  height: 100%;

  // background: #1b9e4b;
  font-family: 'Raleway', sans-serif;
}

.nav-img {
  width: auto;
  height: 3rem;
  padding: 0.4rem;
}

.top-nav {
  background: $project-black;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $project_white;
  padding: $gutter;

  &:hover {
    color: $project-blue;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list__item {
  display: inline-block;
  margin: 0 $gutter;
}

.hero {
  background: $project-blue;
  text-align: center;
  padding: $gutter;
}

.hero__text {
  color: $project-black;
  // text-transform: uppercase;
}

.hero__subtext {
  color: $project_white;
  // text-transform: uppercase;
}

.main-content {
  background: gray;
  margin: $gutter auto;
  width: 60rem;
}

h3 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  background: lightblue;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.img-container {
  width: 20rem - $gutter;
  display: inline-block;
  margin: $gutter;
}

.project-img {
  width: 100%;
  height: auto;
  box-shadow: 0.3rem 0.3rem 0.3rem lightgray;
}

.project-description {
  border: 2px solid red;
  display: inline-block;
  margin: $gutter;
  width: 40rem - $gutter;
}



.footer-group {
  background: $project-black;
  color: $project-white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-group__item {
  display: inline-block;
  margin: 0 $gutter;
}

@media screen and (min-width: 500px) and (max-width: 980px) {
  .hero {
    background: green;
  }

  .page {
    max-width: 980px;
  }

  .main-content {
    width: 100%;
  }

  .img-container {
    width: 50%;
  }

  .project-description {
    width: 50%;
  }


}

@media screen and (min-width: 320px) and (max-width: 650px) {
  .hero {
    background: purple;
  }

  .page {
    max-width: 650px;
  }

  .main-content {
    width: 100%;
  }

  .container {
    width: 100%;
    display: flex;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .img-container, .project-description {
    width: 100%;
    margin: $gutter 0;
  }

  .box-model, .mockup {
    order: -1;
  }







}
