$gutter: 1rem;
$project-black: #000;
$project-white: #fff;
$project-blue: #0ac6d9;

// @import 'yoga';
@import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';


.page {
  display: flex;
  flex-direction: column;
  height: 100%;

  background: yellow;
  font-family: sans-serif;
}

.top-nav {
  background: $project-black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $project_white;
  padding: $gutter;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list__item {
  display: inline-block;
  margin: 0 $gutter;
}

.hero {
  background: $project-blue;
  text-align: center;
}

.hero__text {
  color: $project-black;
}

.hero__subtext {
  color: $project_white;
}

.main-content {
  background: gray;
  margin: 0 auto;
  width: 60rem;
}

.projects {
  background: lightblue;
}

.footer-group {
  background: $project-black;
  color: $project-white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-group__item {
  display: inline-block;
  margin: 0 $gutter;
}
